.barra-inicial {
    height: 70px;
    width: 430px;
    background-color: #f5f3f3;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

h3 {
    position: absolute;
    margin-left: 160px;
    margin-top: 22px;
}

.config {
    position: relative;
    height: 25px;
    margin-left: 330px;
    margin-top: 20px;
}