.flex-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #f5f3f3;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin-left: 5px;
    
}

.flex-logo {
    height: 50px;
    width: 140px;
    align-items: center;
}

.flex-inicio {
    position: relative;
    height: 25px;
    left: 80px;
    
}

.flex-infos-usuario{
    margin: 15px;
}

.flex-foto-perfil{
    height: 60px;
    width: 60px;
    border-radius: 100%;

}

h3 {
    margin-left: 80px;
    margin-top: -40px;
}

/*.opcoes {
    position: relative;
    height: 20px;
    margin-left: 420px;
    margin-top: -20px;
}*/

.flex-post {
    width: 100%;
    margin-top: 5px;
}

.flex-acoes-post img {
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.flex-infos-post {
    margin-left: 10px;
}

.flex-menu-inferior {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f3f3;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    height: 60px;
    margin-top: 50px;
}

.flex-menu-inferior img {
    max-width: 100%;
    display: inline;
    height: 35px;
    margin-left: 38px;
}
